<div class="jumbotron">
  <h1 class="display-4">What's up my homedogs?</h1>
  <p class="lead">Welcome to the best blog ever written.  Brought to you by world-renowned author, Chase Florom</p>
  <hr class="my-4">
  <p>This website is not liable if it blows your gosh darn mind.</p>
  <p class="lead">

    <%= link_to "Blow my Mind", articles_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>

<div class="row">
          <div class="col-md-4">
            <h2>I don't do anything</h2>
            <p>But I did go above and beyond the tutorial!  Yes I sure did.  And I challenge Paul to do something equally as cool on his page.  Is he up for the challenge?  We shall see! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Samesies</h2>
            <p>But I did go above and beyond the tutorial!  Yes I sure did.  And I challenge Paul to do something equally as cool on his page.  Is he up for the challenge?  We shall see! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>I do something!  Just kidding I don't :(</h2>
            <p>But I did go above and beyond the tutorial!  Yes I sure did.  And I challenge Paul to do something equally as cool on his page.  Is he up for the challenge?  We shall see! </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>


</div>

<container>
  <%= image_pack_tag 'Slide1.jpg' %>
</container>
