
#logo {
    float: left;
    font-size: 1.7em;
    color: teal;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#footerz {
    border-top: 1px solid #eaeaea !important;
    margin-top: 45px;
    padding-top: 5px;
}

#submitbutton {
    padding-top: 20px;
    padding-bottom: 20px;
}

#errorHeader {
    font-size: 1.5em;
}
@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end

