
#logo {
    float: left;
    font-size: 1.7em;
    color: teal;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#footerz {
    border-top: 1px solid #eaeaea !important;
    margin-top: 45px;
    padding-top: 5px;
}

#submitbutton {
    padding-top: 20px;
    padding-bottom: 20px;
}

#errorHeader {
    font-size: 1.5em;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 20px;
}
.jumbotron {
    background-image: url('../../assets/images/techbackground.jpg');
    background-size: cover;
    height: 550px;
    margin-top: 20px;
}

.article-title {
    color: red !important;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
}

.article-title a:hover {
    color:  red !important;
    text-decoration: none;
}

.article-title a:active {
    color:  black !important;
}


.articleTitleCustom {
    color:  black;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end

