
#logo {
    float: left;
    font-size: 1.7em;
    color: teal;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}






@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end

