
#logo {
    float: left;
    font-size: 1.7em;
    color: teal;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}



 body {
     background-image: asset-url("Slide1.jpg") !important;
 }



@import "~bootstrap/scss/bootstrap"; // never forget the semicolon at the end
@import "./_custom";



